body{
    margin: 0px;
    padding: 0px;
}

nav{
    display:  flex;
    background-color: aquamarine;
    justify-content: space-between;
}
nav ul{
display: flex;
align-items: center;
margin-right: 200px;
}

ul li{
    list-style-type: none;
}

ul li a{
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(31, 30, 30);
    margin-inline: 20px;
 
}