* {
    padding: 0;
    margin: 0;
}

header {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div a {
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-size: 18px;
}

.get {
    width: 140px;
    height: 40px;
    background-color: rgb(250, 253, 65);
    text-align: center;
    transition: 0.8s all;
    font-weight: bold;
}

.get:hover {
    background-color: white;
    border-bottom: 2px solid aqua;

}

.img1 {
    height: 75px;
    width: 160px;
    margin-left: 120px;
}


/* header end */


/* Nav Start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    display: flex;
    gap: 40px;
    margin-right: 200px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.icon {
    font-size: 30px;
    margin-right: 40px;
    display: none;
    gap: 50px;
}


.showData {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    background-color: green;
    width: 70%;
    text-align: center;
    height: 100%;
    position: absolute;
    top: 60px;
}

.img2 {
    width: 100%;
    height: 500px;
}

/* Nav bar end */


.container {
    margin-top: 40px;
    /* height: auto;
    width: 100%; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.container section {
    height: 400px;
    width: 100%;
}

.container section img {
    width: 100%;
    height: auto;
}

.container section h3 {
    text-transform: uppercase;
    margin: 30px;
}

.container section p {
    font-size: 18px;
    margin-left: 20px;
}

.btn {
    margin-left: 20px;
    width: 150px;
    height: 50px;
    border: 1px solid black;
    border-radius: 2px;
}

#container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
}


#container div {
    padding: 10px;
    margin: 30px;
    width: 350px;
    height: auto;
    border: 1px solid rgb(216, 211, 211);
}
#container div:hover{
    border: 1px solid black;
}

#container div p{
    align-items: center;
    justify-content: center;
}

.img3 {
    width: 100%;
    height: 200px;
    border-bottom: 4px solid yellow;
    transition-duration: 3s;
    cursor: pointer;
}
.img3:hover{
    transition-duration: 3s;
    transform: scale(1.1,1.1);
}

.box{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.box section{
    margin-top: 30px;
    height: auto;
    width: 380px;
    text-align: center;
    text-align: justify;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 3px 3px 3px rgb(230, 225, 225);
    border-radius: 5px;
} 
.box section img{
    margin-bottom: 30px;
    width: 100%;
    height: auto;
}














@media (max-width:992px) {

    header {
        display: none;
    }

    nav ul {
        display: none;
    }

    .img1 {
        margin-left: 20px;
    }

    .icon {
        display: flex;
    }

    .img2 {
        width: 100%;
        height: 500px;
    }

    .showData {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid black;
        background-color: green;
        width: 70%;
        text-align: center;
        height: 100%;
        position: absolute;
        top: 75px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .container {
        margin-top: 40px;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .container section {
        height: auto;
        border: 1px solid black;
        width: 100%;
    }

    .container section img {
        width: 100%;
        height: auto;
    }

    .container section h3 {
        text-transform: uppercase;
        margin: 30px;
    }

    .container section p {
        font-size: 18px;
        margin-left: 20px;
    }

    .btn {
        margin-left: 20px;
        width: 150px;
        height: 50px;
        border: 1px solid black;
        border-radius: 2px;
    }

    #container {
        margin-top: 20px;
       flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 1px solid black;
        height: auto;
    }

    .box{
        height: auto;
        width: 100%;
       flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}


@media (max-width:768px) {

    header {
        display: none;
    }

    nav ul {
        display: none;
    }

    .img1 {
        margin-left: 20px;
    }

    .icon {
        display: flex;
    }

    .img2 {
        width: 100%;
        height: 300px;
    }

    .showData {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid black;
        background-color: rgb(93, 197, 93);
        width: 70%;
        text-align: center;
        height: 100%;
        position: absolute;
        top: 75px;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.5);
    }


    .container {
        margin-top: 30px;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .container section {
        height: auto;
        border: 1px solid red;
        width: 100%;
    }

    .container section img {
        width: 100%;
        height: auto;
    }

    .container section h3 {
        font-size: 20px;
        text-transform: uppercase;
        margin: 30px;
    }

    .container section p {
        font-size: 14px;
        margin-left: 20px;
    }

    .btn {
        margin-left: 20px;
        width: 150px;
        height: 50px;
        border: 1px solid black;
        border-radius: 2px;
    }


    #container {
        margin-top: 20px;
       flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 1px solid black;
        height: auto;
    }
    .box{
        height: auto;
        width: 100%;
       flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}

@media (max-width:480px) {

    header {
        display: none;
    }

    nav ul {
        display: none;
    }

    .img1 {
        margin-left: 20px;
        width: 100px;
        height: 50px;
    }

    .icon {
        display: flex;
        font-size: 18px;
        gap: 10px;
    }

    .img2 {
        width: 100%;
        height: 200px;
    }

    .showData {
        display: flex;
        flex-direction: column;
        gap: 5px;
        border: 1px solid black;
        background-color: rgba(0, 0, 0, 0.5);
        width: 70%;
        text-align: center;
        height: 100%;
        position: absolute;
        top: 52px;
        font-size: 12px;
    }

    .container {
        margin-top: 30px;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .container section {
        height: auto;
        border: 1px solid red;
        width: 100%;
    }

    .container section img {
        width: 100%;
        height: auto;
    }

    .container section h3 {
        font-size: 14px;
        text-transform: uppercase;
        margin: 30px;
    }

    .container section p {
        font-size: 10px;
        margin-left: 20px;
    }

    .btn {
        margin-left: 20px;
        width: 150px;
        height: 50px;
        border: 1px solid black;
        border-radius: 2px;
    }

    #container {
        margin-top: 20px;
       flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 1px solid black;
        height: auto;
    }

    .box{
        height: auto;
        width: 100%;
       flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}