// Colors
$brightRed: hsl(12, 88%, 59%);
$darkBlue: hsl(228, 39%, 23%);
$darkGrayishBlue: hsl(227, 12%, 61%);
$veryDarkBlue: hsl(233, 12%, 13%);
$veryPaleRed: hsl(13, 100%, 96%);
$veryLightGray: hsl(0, 0%, 98%);

// Font-size
$font-very-lg: 2.5rem; //40px
$font-lg: 2rem; //32px
$font-med: 1.3rem;
$font-normal: 1rem;
$font-small: 0.875rem;
