@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Liter&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Pacifico&family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+HU:wght@100..400&family=Protest+Guerrilla&family=Roboto:ital,wght@0,300;0,900;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
}


